asgiref==3.4.1
attrs==21.4.0
autopep8==1.4.4
awsebcli==3.20.3
az-iranian-bank-gateways==1.6.15
backports.entry-points-selectable==1.1.1
#boto3==1.21.15
botocore==1.23.54
cached-property==1.5.2
cement==2.8.2
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.3
defusedxml==0.6.0
distlib==0.3.3
Django==3.2
django-admin-honeypot==1.1.0
django-admin-thumbnails==0.2.5
django-allauth==0.39.1
django-countries==5.3.3
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
django-filter==21.1
django-geojson==3.2.0
django-leaflet==0.28.1
django-location-field==2.1.0
django-session-timeout==0.1.0
django-storages==1.12.3
djangorestframework==3.12.0
djangorestframework-gis==0.17
filelock==3.4.0
future==0.16.0
idna==2.10
isodate==0.6.1
jmespath==0.10.0
lxml==4.7.1
oauthlib==3.0.1
pathspec==0.9.0
pep8==1.7.1
Pillow==8.1.2
platformdirs==2.4.0
psycopg2==2.9.3
psycopg2-binary==2.9
pycodestyle==2.5.0
pycryptodome==3.13.0
python-dateutil==2.8.2
python-decouple==3.4
python-git==2018.2.1
python3-openid==3.1.0
passlib==1.7.0
SQLAlchemy==1.1.5
Werkzeug==0.11.15
gunicorn==19.0.0
gevent==1.2.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
requests-file==1.5.1
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
s3transfer==0.5.2
semantic-version==2.8.5
Send2Trash==1.8.0
six==1.14.0
sqlparse==0.4.2
termcolor==1.1.0
toml==0.10.2
urllib3==1.26.8
virtualenv==20.10.0
wcwidth==0.1.9
zeep==4.1.0
